<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <h1>users</h1>

    <input type="text" name="" id="userSearchBar" placeholder="Find Song" title="Song search bar"
        onkeyup="findUsingSearchBar('userSearchBar','userList')">
    <pre></pre>
    <button>Add users</button>

    <ul style="list-style: none;" id="userList">
        <% userData.forEach(element=> {%>
            <li>
                <form action="">
                    <label for="" id="userID">
                        <%=element._id%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.name%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>
                    <label for="">
                        <%=element.images%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>
                    <label for="">
                        <%=element.showName%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>

                    <label for="">
                        <button onclick="updateOnClick(`<%=element._id%>`)">update</button>
                        ||
                        <button onclick="deleteOnClick(`<%=element._id%>`,'deleteUserOnClick')">delete</button>
                    </label>
                </form>
            </li>
            <pre></pre>

            <%});%>
    </ul>

    <h1>album</h1>
    <input type="text" name="" id="albumSearchBar" placeholder="Find Album" title="Album search bar"
        onkeyup="findUsingSearchBar('albumSearchBar','albumList')">
    <pre></pre>
    <button>Add Album</button>
    <ul style="list-style: none;" id="albumList">
        <% albumData.forEach(element=> {%>
            <li>
                <form action="">
                    <label for="" id="albumID">
                        <%=element._id%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.name%>
                    </label>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.image%>
                    </label>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                    <label for="">
                        <button onclick="updateOnClick(`<%=element._id%>`)">update</button>
                        ||
                        <button onclick="deleteOnClick(`<%=element._id%>`,'deleteAlbumOnClick')">delete</button>
                    </label>

                </form>
            </li>
            <pre></pre>

            <%});%>

    </ul>

    <h1>Playlist</h1>
    <input type="text" name="" id="playlistSearchBar" placeholder="Find Playlist" title="Playlist search bar"
        onkeyup="findUsingSearchBar('playlistSearchBar','playlistList')">
    <pre></pre>
    <button>Add Playlist</button>

    <ul style="list-style: none;" id="playlistList">
        <% playlistData.forEach(element=> {%>
            <li>
                <form action="">
                    <label for="" id="playlistID">
                        <%=element._id%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.name%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.image%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <button onclick="updateOnClick(`<%=element._id%>`)">update</button>
                        ||
                        <button onclick="deleteOnClick(`<%=element._id%>`,`deletePlaylistOnClick`)">delete</button>
                    </label>
                </form>

            </li>
            <pre></pre>

            <%});%>

    </ul>


    <h1>songs</h1>

    <input type="text" name="" id="songSearchBar" placeholder="Find Song" title="Song search bar"
        onkeyup="findUsingSearchBar('songSearchBar','songList')">
    <pre></pre>
    <button>Add Song</button>

    <ul style="list-style: none;" id="songList">
        <% songData.forEach(element=> {%>
            <li>
                <form action="">
                    <label for="" id="songID">
                        <%=element._id%>
                    </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <label for="">
                        <%=element.name%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>
                    <label for="">
                        <%=element.author%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>
                    <label for="">
                        <%=element.image%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>
                    <label for="">
                        <%=element.link%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </label>

                    <label for="">
                        <button onclick="updateSongOnClick(`<%=element._id%>`)">update</button>
                        ||
                        <button onclick="deleteOnClick(`<%=element._id%>`,`deleteSongOnClick`)">delete</button>
                    </label>
                </form>
            </li>
            <pre></pre>

            <%});%>
    </ul>

    <script src="/js/function.js"></script>
    <script>
        var playlistID = $(`#${playlistID}`).text()

    </script>

</body>

</html>