<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>

    <div class="container-sm">
        <%- include('./partials/header'); %>
            <div class="app-top-right_top-bt">
                <div class="puser-info">
                    <div class="user-info-list">
                        <div class="user-avt"><img id="user_ava" src="/images/quangne.png" alt=""></div>
                        <h2 id="shownName">Đăng Quang <i class="fas fa-pen"></i></h2>
                    </div>
                </div>
            </div>

            <div class="app-top-right_bottom">
                <div class="box-nav-items">
                    <div class="nav-items">
                        <div class="nav-item active2">TỔNG QUAN</div>
                        <div class="nav-item">BÀI HÁT</div>
                        <div class="nav-item">PLAYLIST</div>
                        <div class="nav-item">NGHỆ SĨ</div>
                        <div class="nav-item">ALBUM</div>
                        <div class="nav-item">MV</div>
                    </div>
                </div>

                <div class="box-allmusic">
                    <div class="tablist active2">
                        <div class="box-music-content">
                            <div class="box-music-content-t">
                                <div class="textnamemusic">Bài hát</div>
                                <div class="buttonmusic">
                                    <div class="buttonplayall">
                                        <i class="fas fa-play" style="width: 30px;"></i>
                                        Phát tất cả
                                    </div>
                                </div>
                            </div>

                            <div class="box-music-content-b">
                                <div class="image-musicplay">
                                    <img src="/images/honey-umie.jpg" alt="">
                                </div>
                                <div class="list song-list-select">

                                    <%dataSong.forEach(element=> {%>
                                        <%element.songCollection.forEach(song=> {%>
                                            <div class="select-item"
                                                onclick="loadTrackTest(playSelectedSong(getData(<%= JSON.stringify(song)%>)))">
                                                <div class="list-item bor-b-1 media-item active" tabindex="0">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="song-thumb">
                                                                <figure class="image is-40x40"
                                                                    title="Anh Không Nói Điêu">
                                                                    <img src="<%=song.image%>" alt="">
                                                                </figure>
                                                            </div>
                                                            <div class="card-info">
                                                                <div class="title-wrapper">
                                                                    <span class="item-title title">
                                                                        <%=song.name%>
                                                                    </span>
                                                                </div>
                                                                <div class="subtitle">
                                                                    <i class="fas fa-music"></i>
                                                                    <a href="">
                                                                        <%=song.author%>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="media-content">
                                                            3:02
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%});%>
                                                <%});%>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tablist active2">
                        <div class="box-playlistnew">
                            <div class="playlistnew-title">
                                <h3>Playlist</h3>
                            </div>
                            <div class="playlistnew-box">
                                <div class="playlistnew-icon">
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div class="new-playlist">
                                    <h5>Tạo playlist mới</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    </div>
    <script>
        $(document).ready(function () {

            var objUser = JSON.parse(localStorage.getItem("user"))
            document.getElementById("user_ava").src = `/${objUser[0].images}`
            document.getElementById("shownName").innerHTML = `${objUser[0].showName}`
        })
    </script>
    <script src="/js/music.js"></script>
</body>

</html>