<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Admin - Playlist</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
</head>

<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Playlist</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <% data.forEach(element=>{ %>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th style="width: 5%">path</th>
                            <th style="width: 10%">Action</th>

                        </tr>
                    </thead>
                    <tbody id="UsersList">

                            <tr>
                                <td>
                                    <label for="" id="thisId">
                                        <%=element._id%>
                                    </label>
                                </td>
                                <td>
                                    <input type="text" name="" id="name" value="<%=element.name%>">
                                </td>
                                <td>
                                    <input type="file" accept="image/*" name="" id="image" value="<%=element.image%>">
                                </td>
                                <td>
                                    <button class="btn btn-primary fa-2x"
                                        onclick="updateUsingId()"><i class="fas fa-save"></i></button>
                                </td>
                            </tr>

                    </tbody>
                </table>
                <select name="" id="songList">
                    <% songData.forEach(element=>{ %>
                        <option>
                            <%= element.name%>
                        </option>
                        <%})%>
                </select>
                <input class="btn btn-primary" type="button" value="add song" id="submitAddSong" onclick="submitAddSongg()">
            </div>
        </div>
    </div>  

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Playlist</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th style="width: 70%;">Name</th>
                            <th>Action</th>
                            <% element.songList.forEach(song=>{ %>
                        </tr>
                    </thead>
                    <tbody id="UsersList">

                            <tr>
                                <td>
                                    <label for="" id="songID">
                                        <%=song._id%>
                                    </label>
                                </td>
                                <td>
                                    <%=song.name%>
                                </td>

                                <td>
                                    <button class="btn btn-danger fa-2x"
                                    onclick="deleteSongFromListOnClick(`<%=song._id%>`,`deleteSongOnClick`)"><i class="fas fa-times"></i></button>
                                </td>
                                <%})%>
                                <%})%>
                            </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>  

            <script>
                function updateUsingId() {
                    var thisId = ($('#thisId').text())
                    var name = ($('#name').val())
                    var image = $('#image').val().split('\\').pop();
                    $.post('../updatePlaylistUsingId', {
                        thisId: thisId,
                        name: name,
                        image: image
                    }, (data, status) => {
                        alert(JSON.stringify(data))
                    })
                }

                function submitAddSongg() {
                    var songList = ($('#songList').val())
                    var thisId = ($('#thisId').text()).trim()
                    $.post('../submitPlaylistAddSong', {
                        songList: songList,
                        thisId: thisId
                    }, (data, status) => {
                        alert(JSON.stringify(data))
                        window.location.reload()
                    })
                }
                function deleteSongFromListOnClick(id, path) {
                    var thisID = id.replace(/ /g, "")
                    var thisAlbumId = ($('#thisId').text()).trim()

                    var answer = window.confirm("Bạn có chắc muốn xóa bài hát này khỏi Album/Playlist?");
                    if (answer) {
                        $.post(`../deleteSongFromPlaylistOnClick`, {
                            thisID: thisID,
                            thisAlbumId: thisAlbumId
                        }, (data, status) => {
                            alert('Xóa bài hát thành công!')
                            window.location.reload()
                        })
                    }
                    else {
                        alert('Xóa không thành công, vui lòng thử lại!')
                    }
                }
            </script>
            <script src="/js/function.js"></script>

</body>

</html>