<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>
     

<body>
    <!-- Menu left bar start -->
    <div class="container-sm">
        <%- include('./partials/header'); %>
        
            <div class="result-container">
                <div class=search-container-header>
                    <div class="search-result-title">
                        <h3>Kết Quả Tìm Kiếm</h3>
                    </div>
                </div>

                <div class="search-author">
                    <h3 style="margin-top: 0px; padding-top: 20px;">Nghệ sĩ</h3>
                    <div class="author-result-circle">
                        <div class="author-image">
                            <a target="_blank" href="http://www.facebook.com/quangmanuel"><img src="/images/quangne.png"
                                    alt="Meep"></a>
                            <div class="author-name">
                                Meep
                            </div>
                        </div>
                        <div class="author-image">
                            <a target="_blank" href="http://www.facebook.com/troixanhmaytrang.2411"><img
                                    src="/images/aong.png" alt="AONG"></a>
                            <div class="author-name">
                                AONG
                            </div>
                        </div>
                        <div class="author-image">
                            <a target="_blank" href="http://www.facebook.com/lamgoodboyyy"><img src="/images/lam.jpg"
                                    alt="Lam"></a>
                            <div class="author-name">
                                MinLam
                            </div>
                        </div>
                    </div>
                </div>

                <div class="song-result">
                    <h3 style="margin-top: 50px;">Bài hát</h3>

                    <%dataSong.forEach(element=> {%>
                        <div class="select-item">
                            <div class="list-item bor-b-1 media-item active">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="thumb-overlay">
                                            <div class="song-thumb">
                                                <div class="play-music">
                                                    <i class="fas fa-play"></i>
                                                </div>
                                                <figure class="image is-40x40" title="Anh Không Nói Điêu">
                                                    <img src="<%=element.image%>" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="card-info">
                                            <div class="title-wrapper">
                                                <span class="item-title title">
                                                    <%=element.name%>
                                                </span>
                                            </div>
                                            <div class="subtitle">
                                                <i class="fas fa-music"></i>
                                                <a href="https://facebook.com/quangmanuel">
                                                    <%=element.author%>
                                                </a>
                                                <a href="https://www.facebook.com/lamgoodboyyy"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-content">
                                        3:02
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});%>
                </div>

                <div class="author-album">
                    <h3 style="margin-top: 0px; padding-top: 20px;">Album liên quan</h3>
                    <div class="main-suggest">
                        <div class="main-suggest-content">

                            <%dataAlbum.forEach(element=> {%>
                                <div class="items items-gallery-next">
                                    <img src="/<%=element.image%>" alt="">
                                    <div class="layer">
                                        <div class="items-icon">
                                            <i class="far fa-heart" title="Thêm vào thư viện"></i>
                                            <a href="./Album/<%=element.name%>"><i class="fas fa-play-circle"
                                                    title="Thêm vào thư viện"></i></a>
                                            <i class="fas fa-ellipsis-h" title="Thêm vào thư viện"></i>
                                        </div>
                                    </div>

                                </div>
                                <%});%>
                        </div>
                    </div>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>