<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <!-- Menu left bar start -->
    <div class="container-sm">
        <%- include('./partials/header'); %>
            <!-- Back, next, searching bar.. END -->

            <!-- Container -->
            <!-- Left-content -->

            <%data.forEach(element=> {%>
                <div class="media playlist-header sticky">
                    <div class="media-left">
                        <div class="card header-photo">
                            <div class="image-card">
                                <img src="/<%=element.image%>" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="content-top">
                            <h3>TOP 100 NHẠC <%=element.name%> HAY NHẤT</h3>
                            <h5 style="opacity: 0.5;">Cập nhật: 29/11/2021</h5>
                            <h5 style="opacity: 0.5;">310 người yêu thích</h5>
                        </div>
                        <div class="action">
                            <button onclick="playpauseTrack()"
                                class="zm-btn btn-play-all is-outlined active is-medium is-upper button btn-play-all"><i
                                    class="fas fa-play"></i><span>TIẾP TỤC PHÁT</span></button>
                        </div>
                    </div>
                </div>
                <%});%>


                    <!-- Left-content END -->

                    <!-- Main-content -->
                    <%data.forEach(element=> {%>
                        <div class="playlist-content">
                            <div class="description">
                                <span style="opacity: 0.6;">Nội dung:</span>
                                Top 100 Nhạc <%=element.name%> là danh sách 100 ca khúc hot nhất hiện tại của thể loại
                                    Top 100
                                    Nhạc <%=element.name%>, được Music For You tự động tổng hợp dựa trên thông tin số
                                        liệu lượt nghe và lượt
                                        chia sẻ
                                        của từng bài hát trên phiên bản web. Dữ liệu sẽ được lấy trong 30 ngày gần nhất
                                        và được cập
                                        nhật
                                        liên tục.
                            </div>
                            <!-- Song list header -->
                            <div class="list song-list-select">
                                <div class="media select-header">
                                    <div class="media-left">
                                        <div class="column-text">
                                            Bài hát
                                        </div>
                                    </div>
                                    <div class="media-content">
                                        <div class="column-text">
                                            Thời gian
                                        </div>
                                    </div>
                                </div>
                                <%});%>
                                    <!-- Song list content -->
                                    <div>
                                        <%for (let index=0; index < data.length; index++) {%>
                                            <%data[index].songList.forEach(element=> {%>
                                                <div class="select-item" onclick="loadTrackTest(playSelectedSong(getData(<%= JSON.stringify(element)
                                        %>)))">
                                                    <div class="list-item bor-b-1 media-item active" tabindex="0">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <div class="thumb-overlay">
                                                                    <div class="song-thumb">
                                                                        <div class="play-music">
                                                                            <i class="fas fa-play"></i>
                                                                        </div>
                                                                        <figure class="image is-40x40"
                                                                            title="Anh Không Nói Điêu">
                                                                            <img src="<%=element.image%>" alt="">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                                <div class="card-info">
                                                                    <div class="title-wrapper">
                                                                        <span class="item-title title">
                                                                            <%=element.name%>
                                                                        </span>
                                                                    </div>
                                                                    <div class="subtitle">
                                                                        <i class="fas fa-music"></i>
                                                                        <a href="https://facebook.com/quangmanuel">
                                                                            <%=element.author%>
                                                                        </a>
                                                                        <a
                                                                            href="https://www.facebook.com/lamgoodboyyy"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media-content">
                                                                3:02
                                                            </div>
                                                            <div class="media-right" >
                                                                <i class="far fa-heart" onclick="addFavMusic()"
                                                                    title="Thêm vào yêu thích" style="display:none"></i>
                                                                <i class="fas fa-heart" onclick="delFavMusic()"
                                                                    title="Hủy bỏ yêu thích"
                                                                    style="display:none; color: #3B2F52;"></i>
                                                                <button class="fas fa-comment" title="Xem bình luận" style="border: none; background-color: transparent; z-index: 2;"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%});%>
                                                    <%}%>



                                                        <!-- Song list content END -->
                                    </div>
                                    <!-- Song list header END-->
                            </div>
                            <!-- Main-content END -->
                            <div class="show-comment" style="display: none;">
                                <div class="comment-box">
                                    <div class="top-comment-box">
                                        <p style="padding: 1rem 1rem; font-size: 1.2em; margin: 0;">Bình luận</p>
                                        <button onclick="hideComment()" title="Đóng cửa sổ" style="width: 60px; background-color: transparent; border: 0; font-size: 1.4em;" class="fas fa-times"></button>
                                    </div>
                                    <div class="comment-list">
                                        <div class="comment-user" style="inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                            <div class="comment-item">
                                                <div class="media-left" style="width: 60px;"><img src="/images/quangne.png" style="border-radius: 100%;"></div>
                                                <div class="media-content">
                                                    <div class="username-cmt">Đăng Quang</div>
                                                    Ôi ngày nào cũng nghe bài này, hay thật sự luôn á!
                                                </div>
                                            </div>
                                            <div class="comment-item">
                                                <div class="media-left" style="width: 60px;"><img src="/images/yasuo.jpg" style="border-radius: 100%;"></div>
                                                <div class="media-content">
                                                    <div class="username-cmt">Minh Thiên</div>
                                                    Nghe không biết chán luôn mà..
                                                </div>
                                            </div>
                                            <div class="comment-item">
                                                <div class="media-left" style="width: 60px;"><img src="/images/aong.png" style="border-radius: 100%;"></div>
                                                <div class="media-content">
                                                    <div class="username-cmt">Nhân Bảo Nguyễn</div>
                                                    Mốt cover bài này luôn, đóng TUNE luôn 
                                                </div>
                                            </div>
                                            <div class="comment-item">
                                                <div class="media-left" style="width: 60px;"><img src="/images/lam.jpg" style="border-radius: 100%;"></div>
                                                <div class="media-content">
                                                    <div class="username-cmt">Min Lâm</div>
                                                    Hay vãi
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment-input">
                                        <div class="media-left" style="width: 60px;"><img src="/images/lam.jpg" style="border-radius: 100%;"></div>
                                        <textarea name="" id="" placeholder="Nhập bình luận..."></textarea>
                                        <button style="width: 10%; height: 70%; background-color: transparent; border: none;"><i class="fas fa-paper-plane"></i> GỬI</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <%- include('./partials/footer'); %>
                        </footer>
    </div>
</body>
<script src="/js/music.js"></script>

</html>